/Credencial.class
/Guia.class
/Reserva.class
/ServicioOfrecido.class
/Turista.class
/Usuario.class
/Viaje.class
/Sistema.class
/services.class
/ServicioOfrecido$services.class
/ServicioOfrecido$Services.class
/IDVerificacionAdapter.class
/UserIDVerificacion.class
/IDVerificacionAdapterImpl.class
/UserEmailVerificacion.class
/SistemaVerificacion.class
/SistemaVerificacionIA.class
/AdaptadorVerificacion.class
/SistemaAutenticacionMail.class
/SistemaAutenticacionFacebook.class
/SistemaAutenticacionGoogle.class
/SistemaAutenticacionAppleID.class
/AdaptadorAutenticacion.class
/EstadoReservado.class
/Calificacion.class
/TrofeoGuia.class
/TrofeoTurista.class
